body {
    background-color: #F5F6F7;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    margin: 0;
}

.bg-light {
    background-color: #4a6fc0!important;
}

.vertical { 
    border-left: 1px solid #0000001e; 
    height: 13px; 
} 

.icono {
    margin: 0 10px;
    font-size: 1.5rem;
}

.out:focus {
    outline: none!important;
}

.reac {
    padding: .5rem 4.3rem;
    background-color: transparent;
    border: none;
    margin-bottom: 1rem;
}

.reac:focus {
    outline: none!important;
}

.reac:hover {
    background-color: #00000018;
}

.whi {
    background-color: transparent;
    border: none;
}

.whi:focus {
    outline: none!important;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #dddbdb ;
}

.whi:hover {
    background-color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid grey;
}
.navbut {
    background-color: transparent;
    outline: none;
    border: none;
}

.navbut:hover {
    background-color: #0000001c;
    border-radius: 5px;
}