body {
    background-color: #F5F6F7;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    margin: 0;
}

.modal-dialog {
    width: 200rem!important;
}

.bg-light {
    background-color: #4a6fc0!important;
}

.vertical { 
    border-left: 1px solid #0000001e; 
    height: 13px; 
} 

.icono {
    margin: 0 10px;
    font-size: 1.5rem;
}

.quitar:focus {
    outline: none!important;
}

.pensando {
    outline: none;
}

.bari {
    font-family: 'PT Sans Narrow', sans-serif;
}

.bari:focus {
    outline: none!important;
    color: black!important;   
}

.bari:hover {
    background-color: #00000018!important;
}

.infor{
    border: none;
    background-color: transparent;
    color: gray;
}

.infor:hover {
    color: black;
}

.infor:focus {
    color: black;
    outline: none;
    font-weight: bold;
}

.pic:focus {
    outline: none;
}

.navbut {
    background-color: transparent;
    outline: none;
    border: none;
}

.navbut:hover {
    background-color: #0000001c;
    border-radius: 5px;
}

.reac {
    padding: .3rem 2.1rem;
    background-color: transparent;
    border: none;
    margin-bottom: 1rem;
    font-size: .8rem;
}

.reac:focus {
    outline: none!important;
}

.reac:hover {
    background-color: #00000018;
}

.reac_public {
    padding: .3rem 4.1rem;
    background-color: transparent;
    border: none;
    margin-bottom: 1rem;
    font-size: .8rem;
}

.reac_public:focus {
    outline: none!important;
}

.reac_public:hover {
    background-color: #00000018;
}

.modal-body{
    height: 40rem;
    width: 100%;
    overflow-y: auto;
}

.modal-body::-webkit-scrollbar {
    width: 7px;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #0000006a;
    border-radius: 5px;
}
